{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Blog de cuisine</h1>
                <p class="lead my-3">Ici de nombreuses recettes peuvent être partagées.</p>
            </div>
        </div>

        <div class="row mb-2">

            {% for article in articles %}
                <div class="col-md-6 mb-3">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="mb-1 text-muted">{{ article.createdAt | date("d/m/Y") }}</div>
                            <strong class="d-inline-block mb-2 text-primary">{{ article.category }}</strong>
                            <h3 class="mb-0">{{ article.name }}</h3>
                            <h5 class="card-text mb-auto">- {{ article.catchphrase }} -</h5>
                            <p>{{ article.content }}</p>
                            <div>
                                <a href="{{ path('article/edit', {id: article.id}) }}" class="text-info">Editer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
{% endblock %}
