<header class="p-3 bg-dark text-white mb-5">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Accueil</a></li>
                <li><a href="/article/add" class="nav-link px-2 text-white">Création d'articles</a></li>
                <li><a href="#" class="nav-link px-2 text-white">A propos</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-light me-2"><a href="{{ path('app_login') }}" class="text-dark">Connexion</a></button>
                <button type="button" class="btn btn-warning"><a href="{{ path('app_register') }}" class="text-dark">S'inscrire</a></button>
            </div>

        </div>
    </div>
</header>