{% extends 'base.html.twig' %}

{% block body %}
    <main class="page-content">
        <div class="container-fluid">
            <h1 class="d-flex w-100">
                <span>Articles</span>
                <a href="{{path('app_admin_article_add')}}" class="text-info ml-auto text-decoration-none">
                    +
                </a>
            </h1>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titre</th>
                        <th>Content</th>
                        <th>Auteur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.name }}</td>
                        <td>{{ article.Content }}</td>
                        <td>{{ article.author }}</td>
                        <td>
                            <a href="#" class="text-info">Voir</a>
                            <a href="{{ path('/', {id: article.id}) }}" class="text-info">Editer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
